<h1>Admin Dashboard</h1>

<% complaints.forEach((complaint) => { %>

    <div>
        <h3><%= complaint.title %></h3>

        <p><%= complaint.description %></p>

        <p>User: <%= complaint.user.name %></p>

        <p>Email: <%= complaint.user.email %></p>

        <p>Status: <%= complaint.status %></p>

        <hr>

        <form action="/admin/complaints/<%= complaint._id %>/status" method="POST">

            <select name="status">
                <option value="Pending" <%= complaint.status === "Pending" ? "selected" : "" %>>
                    Pending
                </option>

                <option value="In Progress" <%= complaint.status === "In Progress" ? "selected" : "" %>>
                    In Progress
                </option>

                <option value="Resolved" <%= complaint.status === "Resolved" ? "selected" : "" %>>
                    Resolved
                </option>
            </select>

            <button type="submit">Update</button>

        </form>
    </div>

<% }) %>