<h1>Admin Dashboard</h1>

<h2>Statistics</h2>

<p>Total Complaints: <%= totalComplaints %></p>
<p>Pending: <%= pendingComplaints %></p>
<p>In Progress: <%= inProgressComplaints %></p>
<p>Resolved: <%= resolvedComplaints %></p>

<hr>

<% complaints.forEach((complaint) => { %>

    <div>
        <h3><%= complaint.title %></h3>

        <p><%= complaint.description %></p>

        <p>User: <%= complaint.user.name %></p>

        <p>Email: <%= complaint.user.email %></p>

        <p>Status: <%= complaint.status %></p>

        <form action="/admin/complaints/<%= complaint._id %>/status" method="POST">

            <select name="status">
                <option value="Pending" <%= complaint.status === "Pending" ? "selected" : "" %>>
                    Pending
                </option>

                <option value="In Progress" <%= complaint.status === "In Progress" ? "selected" : "" %>>
                    In Progress
                </option>

                <option value="Resolved" <%= complaint.status === "Resolved" ? "selected" : "" %>>
                    Resolved
                </option>
            </select>

            <button type="submit">Update</button>

        </form>

        <form action="/admin/complaints/<%= complaint._id %>/delete" method="POST">
            <button type="submit">Delete</button>
        </form>
        

        <hr>
    </div>

<% }) %>